body{
  display: inline-flex;
}

header h1 {
  text-align: center;
}


nav {
  display: inline-flex;
  flex-direction: column;
  flex: 1 1 180px;
}


main {
 display: flex;
 flex-direction: column;
}
