* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 253, 250);
}

nav {
  padding: 20px;
  width: 180px;
  height: 100%;
  border: 1px dotted aqua;
  margin: 10px;
  position: fixed;
}

main {
  height: 100%;
  margin: 10px;
  width: 60%;
  position: relative;
  left: 200px;
  align-content: flex-start;
}

h2 {
  background-color: rgb(175, 103, 219);
  color: rgb(255, 253, 250);
  padding: 5px;
}

ol {
  line-height: 1.3em;
}

p {
  padding: 5px;
}

section h3 {
  text-align:center;
  text-decoration: underline;
}

th {
  text-decoration: underline;
  font-size: 1.2em;
}

#top-bar {
  background-color: rgb(237, 160, 66);
  color: rgb(255, 253, 250);
}

.nav-section {
}
.back-to-top {
  text-align: center;
}

.recipeheading {
  background-color: rgb(91, 70, 171);
  text-align: center;
}

.tasty-pics {
  width: 100%;
  max-width: 720px;
  float: left;
  margin-right: 30px;
  margin-bottom: 15px;
  border: 8px ridge rgba(230, 200, 181, 0.74);
}

.quantity {
  font-weight: bold;
  padding: 10px;
}
